main {
  background-image: url("quaruntine.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.intro {
  /* background: pink; */
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

.intro .content {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", Arial;
}

.intro .content span {
  font-family: Arial;
}

.content h1 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4em;
}

.content p {
  color: white;
}

.content button {
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
}

.options {
  width: fit-content;
  display: inline-block;
  margin-right: 3em;
}

.options img {
  width: 10em;
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
}

.footer-text {
  max-width: 600px;
  text-align: center;
  margin: auto;
}

canvas#output {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* #buttons {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
} */

@media only screen and (max-width: 600px) {
  .footer-text,
  .dg {
    display: none;
  }
}

body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#container {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
}
#webcam {
  width: 320px;
  height: 240px;
}
#button {
  width: 100%;
  margin: 0;
  font-size: 20px;
}
.hidden {
  display: none;
}
