html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(254, 242, 242);
  background: radial-gradient(
    circle,
    rgba(254, 242, 242, 1) 0%,
    rgba(194, 238, 252, 1) 42%,
    rgba(140, 217, 250, 1) 82%,
    rgba(128, 234, 255, 1) 100%
  );
}

main {
  background-image: url("quaruntine.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
}

.intro {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
}

.intro .content {
  display: block;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", Arial;
}

.intro .content span {
  font-family: Arial;
}

#intro-text,
#loading {
  margin-bottom: 5em;
  color: white;
}

.content h1 {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 4em;
}

.content p {
  color: white;
}

.content button {
  border: 1px solid white;
  padding: 0;
}

.content button:hover {
  /* border: 5px solid white; */
  cursor: pointer;
}

.options {
  width: fit-content;
  display: inline-block;
  margin-right: 3em;
}

.options img {
  width: 30em;
  display: block;
}

canvas#output {
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
}

#player {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fade-out {
  transition: opacity 5s ease-in;
  background: rgb(0, 0, 0, 0.1);
  opacity: 0;
}

.switcher {
  position: absolute;
  right: 0;
  top: 2em;
  z-index: 20;
  color: white;
  display: none;
}

// 3D

.ThreeJS {
  display: block;
  width: 100%;
  margin: 0 auto;
  top: 50px;
  z-index: 10;
  position: absolute;
  height: 100%;
  background: rgb(254, 242, 242);
  background: radial-gradient(
    circle,
    rgba(254, 242, 242, 1) 0%,
    rgba(194, 238, 252, 1) 42%,
    rgba(140, 217, 250, 1) 82%,
    rgba(128, 234, 255, 1) 100%
  );
}

canvas {
  width: 100%;
  height: 100%;
}
